@model IEnumerable<AllCarsViewModel>
@{
    ViewBag.Title = "All Cars";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
                 src="@car.ImageUrl" alt="VehichleConstants Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@car.Brand</h5>
                <p class="mb-0">Model: @car.Model</p>
                <p class="mb-0">Registration: @car.RegistrationNumber</p>
                <p class="mb-0">Price per day: @car.PricePerDay$</p>
                <p class="mb-0">Color: @car.Color</p>
            </div>
        </div>
    }
</div>