@using Vehicle2Go.Services.Data.Interfaces
@using Vehicle2Go.Web.Infrastructure.Extensions
@model VehicleAllViewModel

@inject IAgentService AgentService
@inject IJetService JetService
@{
    bool isUserAgent = await AgentService.AgentExistByUserIdAsync(this.User.GetId()!);
    bool isAgentOwner = await AgentService.HasVehicleWithIdAsync(this.User.GetId(), Model.Id);
    bool isJetRentedByUser = await JetService.IsRentedByUserWithIdAsync(Model.Id, this.User.GetId()!);
}

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Jet Image">
        <div class="card-body text-center">
            <h4>@Model.Brand</h4>
            <h6>Address: <b>@Model.Address</b></h6>
            <h6>
                Price Per Day:
                <b>@($"{Model.PricePerDay:f2}") BGN</b>
            </h6>
            <h6>(@(Model.IsRented ? "Rented" : "Not Rented"))</h6>
            <br />
            <a asp-area="" asp-controller="Jet" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                if ((isAgentOwner && isUserAgent) || this.User.IsAdmin())
                {
                    <a asp-area="" asp-controller="Jet" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning">Edit</a>
                    <a asp-area="" asp-controller="Jet" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger">Delete</a>
                }
                <p></p>
                @if (!Model.IsRented)
                {
                    <form class="input-group-sm" asp-area="" asp-controller="Jet"
                          asp-action="Rent" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Rent" />
                    </form>
                }
                else
                {
                    @if (isJetRentedByUser)
                    {
                        <form asp-area="" asp-controller="Jet" asp-action="Leave"
                              asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Leave" />
                        </form>
                    }
                }
            }
        </div>
    </div>
</div>