@using Vehicle2Go.Services.Data.Interfaces
@using Vehicle2Go.Web.Infrastructure.Extensions
@model VehicleDetailsViewModel

@inject IAgentService AgentService
@inject IYachtService YachtService
@{
    bool isUserAgent = await AgentService.AgentExistByUserIdAsync(this.User.GetId()!);
    bool isAgentOwner = await AgentService.HasVehicleWithIdAsync(this.User.GetId(), Model.Id);
    bool isYachtRentedByUser = await YachtService.IsRentedByUserWithIdAsync(Model.Id, this.User.GetId()!);
    ViewBag.Title = "Yacht Details";
}

<h2 class="text-center text-primary">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Yacht Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Brand</u></p>
            <p>Model: <b>@Model.Model</b></p>
            <p>Located in: <b>@Model.Address</b></p>
            <p>
                Price Per Day:
                <b>@($"{Model.PricePerDay:f2}") BGN</b>
            </p>
            <p>Category: <b>@Model.Category</b></p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    @if (isAgentOwner && isUserAgent)
                    {
                        <a asp-controller="Yacht" asp-action="Edit" asp-route-id="@Model.Id"
                           class="btn btn-warning">Edit</a>
                        <a asp-controller="Yacht" asp-action="Delete" asp-route-id="@Model.Id"
                           class="btn btn-danger">Delete</a>
                    }

                    @if (!Model.IsRented)
                    {
                        <form class="ml-2" asp-controller="Yacht"
                              asp-action="Rent" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Rent" />
                        </form>
                    }
                    else
                    {
                        @if (isYachtRentedByUser)
                        {
                            <form asp-controller="Yacht" asp-action="Leave"
                                  asp-route-id="@Model.Id" method="post">
                                <input class="btn btn-primary" type="submit" value="Leave" />
                            </form>
                        }
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-primary">Agent Info:</h4>
                    <p class="card-text">Full Name: @Model.Agent.FullName</p>
                    <p class="card-text">Email: @Model.Agent.Email</p>
                    <p class="card-text">Phone Number: @Model.Agent.PhoneNumber</p>
                    <p class="card-text">Address: @Model.Agent.Address</p>
                </div>
            </div>
        </div>
    </div>
</div>